{
  "parser": "babel-eslint",
  "plugins": [
    "flowtype",
    "react-native",
    "prettier",
    "jest"
  ],
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "globals": {
    "fetch": false,
    "__DEV__": false,
    "alert": false
  },
  "env": {
    "jest/globals": true
  },
  "rules": {
    "class-methods-use-this": [
      "off"
    ],
    "flowtype/require-valid-file-annotation": [
      "error",
      "always"
    ],
    "max-len": "off",
    "react-native/no-unused-styles": "error",
    "react/jsx-filename-extension": [
      "warn",
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/prop-types": [
      "error",
      {
        "ignore": [
          "navigator"
        ]
      }
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "type-annotations",
          "static-methods",
          "lifecycle",
          "everything-else",
          "render"
        ]
      }
    ],
    // Prettierと設定がバッティングするので一部無効にする
    "arrow-parens": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off"
  }
}
